.page {
  position: absolute;
  top: 4em;
  z-index: 1;
}

.title h2 {
  text-align: left;
  padding-left: .5em;
}


@media screen and (max-width: 800px) {
  .page {
    position: relative;
    top: 0;
  }
}